$color1 : #ba4e55;
$color2 : #223451;
$color3: #ffff;

* ,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.fa , .fas {
    font: 900;
} 
img {
    object-fit: cover;
    max-height: 170px;
    width: 100%;
}