*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  object-fit: cover;
}

.fa, .fas {
  font: 900;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 80px;
  padding: 5px 10px;
}

input[type=file] {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-16px, -3px);
  opacity: 0;
  cursor: pointer;
}
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  background: #d05059;
  color: #ffffff;
  min-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  cursor: pointer;
}

.error {
  color: red;
  margin: 5px 0;
}

h2 {
  margin-bottom: 10px;
}

.nav-container {
  width: 100%;
  background: #ffffff;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  margin: 5px 0;
}
nav img {
  max-height: 50px;
  margin-right: 10px;
}
nav .logo {
  min-width: 200px;
}
nav #navbar--home {
  width: 100%;
}
nav #navbar--auth {
  width: 40%;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul .button {
  display: flex;
  align-items: center;
  background: #d05059;
  color: #ffffff;
  min-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  cursor: pointer;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  height: 100vh;
  padding: 30px;
}
.containerForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #ffffff;
  padding: 30px 0;
  width: 70%;
}
.containerForm input {
  border-radius: 15px;
  height: 50px;
  width: 64%;
  border-color: #f3f3f3;
  margin: 15px 0;
}
.containerForm input[type=submit] {
  background: #d05059;
  color: #ffffff;
  cursor: pointer;
}

.post {
  display: flex;
  justify-content: center;
  background: #f3f3f3;
}
.post__container {
  max-width: 90%;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 30px 10px;
  background: #ffffff;
}
.post__container--button {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.post__container__advice {
  display: flex;
}
.post__container__advice--item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 5px;
  border: 1px solid #f3f3f3;
  max-height: 50px;
}
.post__container__advice--item svg {
  margin: 0 10px;
}
.post__container img {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}
.post__container--content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.post__container__owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.post__container__owner--user {
  display: flex;
  align-items: center;
}
.post__container__owner--editButton {
  display: flex;
  justify-content: flex-end;
}
.post__container__owner--editButton svg {
  margin: 0 10px;
}
.post__container__owner img {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  margin-right: 15px;
}
.post__container svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.post__comment {
  display: flex;
  justify-content: space-between;
}
.post__comment--profil img {
  height: 50px;
  width: 50px;
  border-radius: 45px;
}
.post__comment form {
  width: 100%;
  margin-left: 15px;
}
.post__comment form input[type=text] {
  display: flex;
  padding: 5px;
  height: 50px;
  width: 100%;
}
.post__comment form .form--submit {
  margin: 15px;
}
.post__comment form .form--submit input {
  height: 40px;
  width: 100px;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #d05059;
  color: #ffffff;
}

.profil {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f3f3f3;
  height: 100%;
  position: relative;
}
.profil--title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.profil--title svg {
  cursor: pointer;
  color: white;
  width: 3%;
  margin-left: 35px;
}
.profil__container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 20px 0;
}
.profil__container h1 {
  margin-top: 30px;
  position: relative;
}
.profil__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 45%;
  padding: 15px;
  margin: 20px 0;
}
.profil__container__item form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profil__container__item form #file {
  display: none;
}
.profil__container__item form label {
  display: flex;
  justify-content: center;
}
.profil__container__item .button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d05059;
  color: #ffffff;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  margin-top: 15px;
}
.profil__container__item img {
  width: 100%;
  border-radius: 15px;
}
.profil__container__item textarea {
  margin-top: 15px;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  border-radius: 15px;
  resize: none;
  padding: 10px;
}
.profil__container__item span {
  margin: 15px 0;
}

.profilPicture {
  background-color: none;
  border-radius: 45px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.post-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid black;
}
.post-container--user {
  display: flex;
  align-items: center;
  margin: 10px;
}
.post-container--user h3 {
  margin: 0 10px;
}
.post-container__form {
  margin: 10px;
  width: 100%;
}
.post-container__form--card {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.post-container__form--card p {
  margin: 10px 0;
}
.post-container__form--card img {
  width: 100%;
  padding: 10px;
}
.post-container__form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.post-container__form__footer--button {
  display: flex;
}
.post-container__form__footer--button button {
  margin: 0 15px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}
.comment-container__item {
  margin: 10px 0;
  width: 100%;
}
.comment-container__item--header {
  display: flex;
  justify-content: space-between;
}
.comment-container__item--userData {
  display: flex;
  flex-wrap: nowrap;
}
.comment-container__item--userData img {
  max-height: 50px;
  margin-right: 10px;
  border-radius: 90%;
}
.comment-container__item--userData h3 {
  margin: 0 5px;
}
.comment-container__item--content {
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
  background: #d05059;
  color: #ffffff;
  padding: 10px;
  min-height: 100px;
}
.comment-container__item--updateForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 0;
}
.comment-container__item--updateForm .editAndDelete-icon {
  display: flex;
}
.comment-container__item--updateForm .editAndDelete-icon svg {
  margin: 0 10px;
}
.comment-container__item--updateForm form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.comment-container__item--updateForm form input[type=text] {
  min-height: 100px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.comment-container__item--updateForm form input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d05059;
  color: #ffffff;
  min-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  cursor: pointer;
}
.comment-container__item--commentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.comment-container__item--commentForm input[type=text] {
  min-height: 100px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.comment-container__item--commentForm input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d05059;
  color: #ffffff;
  min-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
