.nav-container {
  width: 100%;
  background: $color4;
  margin-bottom: 10px;
}
nav {
  display: flex;
    justify-content: space-between;
  width: 100%;
  background: $color4;
  margin: 10px 0;
  & img {
    max-height: 50px;
    margin-right: 10px;
  }
  & .logo {
    margin-left: 10px;
    &--desktop {
      min-width: 200px;
      @media (max-width: 570px) {
        display:none;
      }
    }
    &--mobile {
      display: none;
      @media (max-width: 570px) {
        display: inline;
        width: 50px;
      }
    }
  }
  & #navbar {
    &--home {
      width: 100%;
    }
    &--auth {
      @media (max-width: 570px) {
        width: 100%;
      }
    }
  }
  & ul {
    display: flex;
    justify-content: space-around;
    @media (max-width: 570px) {
      justify-content: flex-end;
    }
    & li {
      display: flex;
        align-items: center;
        margin-right: 10px;
    }
    & .welcome {
      @media (max-width: 570px) {
        display: none;
      }
    }
    }
  }


