.nav-container {
  width: 100%;
  background: $color4;
  margin-bottom: 10px;
}
nav {
  width: 100%;
  background: $color4;
  margin: 5px 0;
  & img {
    width: 100%;
    z-index: -1;
    max-height: 50px;
    margin-right: 10px;
  }
  & .logo {
    min-width: 200px;
  }
  & ul {
    display: flex;
    justify-content: space-around;

    & li {
      display: flex;
      align-items: center;
      margin: 0 10px;
      max-height: 40px;
      & .button {
        background: $color1;
        color: $color4;
        min-height: 40px;
        border-radius: $boderRadius;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  & .profilPicture {
    background-color: none;
    border-radius: 45px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  & .publication {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $boderRadius;
    height: 45px;
    width: 50%;
    background: $color1;
    color: $color4;
    cursor: pointer;
    margin: 0 15px;
  }
}
