.post-container {
    border: 1px solid $color3;
    border-radius: $boderRadius;
    padding: 15px 30px;
    margin: 30px 10px;
    background: $color4;
    @include shadow;
    &--user{
        display: flex;
        align-items: center;
        margin: 10px;
        & h3 {
            margin: 0 10px;
        }
    }
    &__form {
        margin: 10px;
        width: 100%;
        &--card {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            & p {
                margin: 10px 0;
            }
            & img {
                width: 100%;
                padding: 10px;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            &--button {
                display: flex;
                & button {
                    margin: 0 15px;
                }
            }
        }
    }
}