* ,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

img {
    object-fit: cover;
  }

  .fa , .fas {
    font: 900;
} 